Repository CarlosArgelio/static-test-config: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write --ignore-unknown, eslint --fix, eslint . --ext .json

test: validate json
  .eslintignore
  .eslintrc.json
  .lintstagedrc
  package.json
  test.json
Due: eslint . --ext .json

plugin eslint validate json
  .eslintrc.json
  .lintstagedrc
  .vscode/setting.json
  test.json
Due: eslint . --ext .json

plugin eslint validate json
  .eslintrc.json
  test.json
Due: eslint . --ext .json

plugin eslint validate json
  .eslintrc.json
  package.json
  test.json
Due: eslint . --ext .json

plugin eslint validate json
  .eslintrc.json
Due: eslint . --ext .json

plugin eslint validate json
  .eslintrc
Due: none

plugin eslint validate json
  .eslintignore
  .eslintrc
  package.json
  test.json
Due: eslint . --ext .json

validate json
  test.json
Due: eslint . --ext .json

feat: validate yaml
  .aws/backend/serverless.yaml
  .aws/codebuild/buildspec.yaml
  .aws/frontend/serverless.yaml
  .eslintignore
  .eslintrc
  .lintstagedrc
  package.json
  test.json
Due: eslint . --ext .json

feat: validate yaml
  .aws/frontend/serverless.yaml
  .eslintrc
  .lintstagedrc
  package.json
  prettier.config.js
Due: prettier --write --ignore-unknown, eslint --fix, eslint . --ext .json

feat: validate yaml
  .aws/frontend/serverless.yaml
Due: none

feat: validate yaml
  .aws/frontend/serverless.yaml
  .lintstagedrc
Due: none

feat: validate yaml
  serverless.yaml
Due: none

feat: validate yaml
  .aws/frontend/serverless.yaml
  .eslintrc
  .vscode/setting.json
  package.json
Due: eslint . --ext .json

feat: validate yaml
  .aws/frontend/serverless.yaml
  .eslintrc
  package.json
Due: eslint . --ext .json

feat: add serverless
  .aws/frontend/serverless.yaml
  .vscode/setting.json
Due: eslint . --ext .json

Path conditions:
  prettier --write --ignore-unknown: any of: *.js
  eslint --fix: any of: *.js
  eslint . --ext .json: any of: *.json
